@model EMS.Models.EnquiryDetailViewModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<form>
    <div class="form-group">
        <div class="col-md-12 mb-12">
            <label for="txtFirstName">First name *</label>
            <input type="text" class="form-control" id="txtFirstName" placeholder="First name" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 mb-12">
            <label for="txtLastName">Last name *</label>
            <input type="text" class="form-control" id="txtLastName" placeholder="Last name" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 mb-12">
            <label for="txtDOB">Date of Birth(dd/MM/yyyy)</label>
            <input type="text" class="form-control" id="txtDOB" placeholder="Date of Birth">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 mb-12">
            <label for="txtMobile">Mobile *</label>
            <input type="text" class="form-control" id="txtMobile" placeholder="Mobile" pattern="^\d{10}$" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 mb-12">
            <label for="txtEmail">Email</label>
            <input type="email" class="form-control" id="txtEmail" placeholder="Email">
        </div>
    </div>
    <button class="btn btn-primary" type="submit" id="btnSubmit">Submit Enquiry</button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var ob = new Object();
            ob.FirstName = $('#txtFirstName').val();
            ob.LastName = $('#txtLastName').val();
            ob.DOB = $('#txtDOB').val();
            ob.Mobile = $('#txtMobile').val();
            ob.Class = $('#txtClass').val();
            ob.Address = $('#txtAddress').val();
            ob.Course = $('#txtCourse').val();
            ob.Email = $('#txtEmail').val();
            $.ajax({
                type: "POST",
                url: "/EnquiryController/Create" + ob,
                //data: "{empid: " + empid + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    debugger;
                    alert(response.Result);
                    console.log(response.Message);
                },
                error: function () {
                    alert("Error Occured")
                }
            });
        });
    });
</script>